body{
    margin: 0;
    padding: 0;
    background-color: #515151;
}

.d1{
    background-color: #ffffff;
    height: 85vh;
    width: 18.9vw;
    margin: 3% 38%;
    padding: 2px;
}

.top-cont{
    background-color: #ffffff;
    height: 55%;
    width: 100%;
}

.bottom-cont{
    background-color: #fff;
    height: 28%;
    width: 100%;
}
h1{
    margin-left: 5%;
    margin-top: 11%;
}

a{
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 9px;
    margin: 33%;
    text-decoration: none;
}