*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid rgb(255, 255, 255); */
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 29);
    color: aliceblue;

}

.cont{
    height: 100%;
    width: 100%;
}




.d1{
    height: 34%;
    width: 100%;
    /* border: 2px solid rgb(255, 255, 255); */
    /* object-fit: cover; */
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.d2{
    height: 64%;
    width: 100%;
    /* border: 2px solid rgb(255, 255, 255); */
    margin-top: .8em;
}


.main-box{
    width: 100%;
    /* border: 1px solid white; */
}
.box-2{
    height: 25%;
    width: 100%;
    font-size: clamp(16px, 2vw, 48px);
    display: grid;
    place-items: center;
    padding: .2rem 0 0 1rem;    
}


.box-3{
    height: 75%;
    width: 100%;
    display: grid;
    place-items: center;
}
.design-cont{
    height: 90%;
    width: 90%;
    background-color: #fff;
    color: rgb(40, 40, 40);
    border-radius: 10px;
}
.design{
    height: 33%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
.img-here{
    /* border: 1px solid red; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.img-here img{
    height: 70%;
    width: 70%;
    /* border: 1px solid black; */
    object-fit: contain;
    margin-top: .5em;
}
.design-disc{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
}
.design-disc h3{
    font-size: clamp(25px, 5vw, 48px);
}
.design-disc p{
    font-size: clamp(12px, 2vw, 20px);
    margin-top: 1em;
}







.element{
    height: 30%;
    width: 100%;
    /* border: 1px solid black;   */
    display: flex;     
}
.support{
    height: 30%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}    















@media (min-width : 768px) {
    .cont{
        display: flex;
    }

    .d1{
        height: 99%;
        width: 40%;
    }
    .d2{
        height: 70%;
        width: 60%;
    }
   
}


